<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>

<title>Good</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" media="all"
	href="../../css/gtvg.css" th:href="@{/css/gtvg.css}" />

<style>
table, th, td {
	border: 1px solid red;
}
</style>
</head>

<body>


	<table>

		<tr>
			<th>State</th>
			<th>Country</th>
			<th>LatestTotalCases</th>
			<th>DiffFromPrevDay</th>
		</tr>
		<tr th:each="message : ${fatch}">

			<td th:text="${message.state}"></td>
			<td th:text="${message.country}"></td>
			<td th:text="${message.latestTotalCases}"></td>
			<td th:text="${message.diffFromPrevDay}"></td>
		</tr>
	</table>

</body>

</html>